openapi: 3.1.0
info:
  title: Locore API
  version: 0.0.1
  description: |
    Locore Phase 1 (MVP) REST API。
    詳細は ARCHITECTURE.md §3.2 を参照。

servers:
  - url: https://api.locore.app
    description: Production
  - url: https://staging-api.locore.app
    description: Staging
  - url: http://localhost:3001
    description: Local

paths:
  /health:
    get:
      summary: ヘルスチェック
      description: API が稼働しているかを返す。LB/uptime 監視用。
      operationId: healthCheck
      responses:
        '200':
          description: サービス稼働中
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /articles:
    get:
      summary: 記事一覧の取得
      description: |
        都市・著者・ステータスでフィルタした記事のページネーション一覧を返す。
        デフォルトは公開済みのみ。
      operationId: listArticles
      parameters:
        - in: query
          name: cityId
          schema: { type: string, format: uuid }
        - in: query
          name: writerId
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, published, archived, pending_review]
            default: published
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArticlesResponse'

    post:
      summary: 記事の新規作成（下書き）
      description: 認証済みの書き手が下書き記事を作成する。
      operationId: createArticle
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArticleInput'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: リクエストパラメータが不正
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: 認証が必要
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    HealthResponse:
      type: object
      required: [status, timestamp]
      properties:
        status:
          type: string
          enum: [ok]
        timestamp:
          type: string
          format: date-time
        version:
          type: string

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }

    SpotSummary:
      type: object
      required: [id, name, lat, lng]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, maxLength: 160 }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        category:
          type: string
          nullable: true
          maxLength: 40

    Article:
      type: object
      required:
        - id
        - writerId
        - cityId
        - title
        - body
        - priceJpy
        - status
        - tags
        - createdAt
        - updatedAt
        - spots
      properties:
        id: { type: string, format: uuid }
        writerId: { type: string, format: uuid }
        cityId: { type: string, format: uuid }
        title: { type: string, minLength: 8, maxLength: 120 }
        body: { type: string }
        coverImageUrl:
          type: string
          format: uri
          nullable: true
        priceJpy:
          type: integer
          minimum: 0
        status:
          type: string
          enum: [draft, published, archived, pending_review]
        tags:
          type: array
          items: { type: string, maxLength: 30 }
        durationType:
          type: string
          nullable: true
          enum: [under_2h, half_day, full_day, multi_day]
        publishedAt:
          type: string
          format: date-time
          nullable: true
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        spots:
          type: array
          items: { $ref: '#/components/schemas/SpotSummary' }

    CreateArticleInput:
      type: object
      required: [cityId, title, body, priceJpy, spots]
      properties:
        cityId: { type: string, format: uuid }
        title: { type: string, minLength: 8, maxLength: 120 }
        body: { type: string }
        coverImageUrl:
          type: string
          format: uri
          nullable: true
        priceJpy: { type: integer, minimum: 0 }
        tags:
          type: array
          items: { type: string, maxLength: 30 }
        durationType:
          type: string
          nullable: true
          enum: [under_2h, half_day, full_day, multi_day]
        spots:
          type: array
          minItems: 1
          items:
            type: object
            required: [name, lat, lng]
            properties:
              name: { type: string, maxLength: 160 }
              lat: { type: number, minimum: -90, maximum: 90 }
              lng: { type: number, minimum: -180, maximum: 180 }
              category: { type: string, maxLength: 40, nullable: true }
        status:
          type: string
          enum: [draft, published, archived, pending_review]
          default: draft

    GetArticlesResponse:
      type: object
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Article' }
        nextCursor:
          type: string
          nullable: true
